.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #006d77;
    color:white;
    position: relative;
}

.headerContainer{
    margin: 20px 0px 100px 0px;
    width: 100%;
    max-width: 1024px;
}

.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem{
    display: flex;
    gap: 10px;
    align-items: center;
}

.headerListItem.active{
    border: 1px solid white;
    padding: 8px;
    border-radius: 5px;
}

.description{
    margin-top: 20px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    width: 100%;
    max-width: 1024px;
    padding: 10px 0px;
    background-color: white;
    border: 3px solid #073b4c;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
}

.icons{
    color: #8d99ae;
}

.searchButton{
    background-color: #006d77;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.searchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchInput{
    border: none;
    outline: none;
    color: #adb5bd;
}

.searchText{
    color: #adb5bd;
    cursor: pointer;
}

.dateRange{
    position: absolute;
    top: 50px;
}